@{
    ViewBag.Title = "Order Confirmed";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>The order @ViewBag.OrderId has been placed and will be processed shortly</p>

    <a asp-controller="Shop" asp-action="Home">Home</a>
</div>