@model OrderViewModel

<form asp-area="" asp-controller="Cart" asp-action="CheckOut" asp-antiforgery="true" method="post">
    <div class="row">
        <div class="col-sm-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-6">
            @{
                ViewData.TryGetValue("SumCart", out var sum_cart);
            }

            @if (sum_cart as decimal? > 0)
            {
                var sum = (decimal)sum_cart;

                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>@sum.ToString("C")</span></li>
                        <li>Eco Tax <span>$0</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span id="total-order-price">@sum.ToString("C")</span></li>
                    </ul>
                    <input value="Check Out" type="submit" class="btn btn-default check_out" />
                </div>
            }
        </div>
    </div>
</form>