@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Server side rendering</h4>

            <a class="btn btn-default" data-ajax="true" data-ajax-url="@Url.Action("GetTestView", "AjaxTest", new { id = 42, msg = "Test message!!!" })" data-ajax-update="#panel-server" data-ajax-loading="#spiner-server">
                Load
            </a>

            <span id="spiner-server" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>
        </div>

        <div class="col-sm-4">
            <h4>Client side rendering</h4>

            <a class="btn btn-default" data-ajax="true" data-ajax-url="@Url.Action("GetJson", "AjaxTest", new { id = 13, msg = "Hello World!!!" })" data-ajax-success="OnLoaded" data-ajax-loading="#spiner-client">
                Load
            </a>

            <span id="spiner-client" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-client"></div>
        </div>

        <div class="col-sm-4">
            <h4>Rendering manually</h4>

            <a class="btn btn-default" id="load-data-button">Load</a>

            <div id="panel-js"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        OnLoaded = data => {
            const host = $("#panel-client");
            host.empty();
            host.append("msg: " + data.message);
            host.append("<br/>");
            host.append("time: " + data.serverTime);
        }

        $("#load-data-button").click(e => {
            e.preventDefault();
            console.log("Send request to server");
            $.get("@Url.Action("GetJSON", "AjaxTest")", { id: 123, msg: "QWE" })
                .done(data => {
                    console.log("Received response from server");
                    const host = $("#panel-js");
                    host.empty();
                    host.append("msg: " + data.message);
                    host.append("<br/>");
                    host.append("time: " + data.serverTime);
                });
        });
    </script>
}