<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
        <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
        <li><a asp-controller="Employees" asp-action="Index">Employees</a></li>
        <li><a asp-controller="Shop" asp-action="Checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
        <li><a asp-controller="Shop" asp-action="Cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-lock"></i> Logout</a></li>
    </ul>
</div>