@{
    Layout = "~/Views/Errors/_ErrorLayout.cshtml";
    ViewBag.Title = "Error 404";
}

    <div class="container">
        <p class="text-danger">Access Denied!</p>
        <a asp-controller="Shop" asp-action="Home">Back to Home!</a>
    </div>