<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a is-active-route asp-controller="Shop" asp-action="Home">Home</a></li>
    <li><a is-active-route asp-controller="Shop" asp-action="Products">Products</a></li>
    <li><a is-active-route asp-controller="Blog" asp-action="BlogList">Blog</a></li>
    <li><a is-active-route asp-controller="Contact" asp-action="Index">Contact</a></li>
    <li class="dropdown">
        <a href="#">Tests<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a is-active-route asp-controller="WebApiTest" asp-action="Index">WebAPI</a></li>
            <li><a is-active-route asp-controller="AjaxTest" asp-action="Index">AJAX</a></li>
            <li><a is-active-route asp-controller="AjaxTest" asp-action="SignalRTest">SignalR</a></li>
        </ul>
    </li>
</ul>