<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a is-route-active asp-controller="Shop" asp-action="Home">Home</a></li>
    <li><a is-route-active asp-controller="Shop" asp-action="Products">Products</a></li>
    <li><a is-route-active asp-controller="Blog" asp-action="BlogList">Blog</a></li>
    <li><a is-route-active asp-controller="Contact" asp-action="Index">Contact</a></li>
</ul>