<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Shop" asp-action="Home" class="active">Home</a></li>
    <li class="dropdown">
        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Shop" asp-action="Products">Products</a></li>
            <li><a asp-controller="Shop" asp-action="Checkout">Checkout</a></li>
            <li><a asp-controller="Shop" asp-action="Cart">Cart</a></li>
            <li><a asp-controller="Login" asp-action="LoginForm">Login</a></li>
        </ul>
    </li>
    <li><a asp-controller="Blog" asp-action="BlogList">Blog</a></li>
    <li><a asp-controller="Errors" asp-action="Error404">404</a></li>
    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
</ul>